# This is a basic workflow to help you get started with Actions

name: Base Image Options

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Single-Command:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

    # Runs a single command using the runners shell
      - name: Single-Command
        run: echo Hello out there!

  Multi-line:
    runs-on: ubuntu-latest
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    steps:
      - uses: actions/checkout@v2
    

    # Runs a set of commands using the runners shell
      - name: Multi-line
        run: |
          ls
          echo
          java -version
          echo
          git --version
          echo
          mvn -v
          echo
          gradle -v
          echo
          ant -v
          echo
          echo $ANDROID_SDK_ROOT
          echo
          echo $SELENIUM_JARS
          echo
          echo $RUNNER_WORKSPACE
          echo
          whoami
          echo
          df
          echo
          env -0 | sort -z | tr '\0' '\n'
